<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <node name="joy" pkg="joy" type="joy_node" output="screen" >
    <param name="dev" value="$(arg joy_dev)" />
    <param name="autorepeat_rate" value="200"/>
    <param name="deadzone" value="0"/>
  </node>

  <node name="omnicopter" pkg="omnicopter_sim" type="omnicopter" output="screen" />
  <node name="rc_mapping" pkg="omnicopter_sim" type="rc_mapping" output="screen" />
  <node name="visualization" pkg="omnicopter_sim" type="visualization" output="screen" />
  <node name="control_allocation" pkg="omnicopter_sim" type="control_allocation" output="screen" />
  <node name="attitude_controller" pkg="omnicopter_sim" type="attitude_controller" output="screen" />

</launch>